



.products__btn{
  background-color:var(--primary-color);
  margin-left: 1rem;
  width: 200px;
  height: 50px;
  margin-bottom: 2rem;
  border-radius: 2rem;
  color: white;
  font-weight: bold;
}
.products__btn:hover{
    background-color: var(--secondary-color);
    transition: .5s;
}
